################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/GAME/CopilotIndices/17.14.1091.29919
/.vs/GAME/FileContentIndex
/.vs/GAME/v17
*.sqlite
*.json
